<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footballers</title>
</head>
<body>
<h1>{{.AwardName}} {{getYear .EventTime}}</h1>
<h2>Event Date: {{formatTime .EventTime}}</h2>
<h3>Event Location: {{.EventLocation}}</h3>
{{range $key, $footballer := .Footballers}}
   <h2>{{$footballer.Name}}</h2>
   <h3>{{stringToUpper $footballer.League}}</h3>
   <h4>{{$footballer.Country}}</h4>
   <h4>{{$footballer.Age}}</h4>
   <h4>{{toLowerCase .Position}}</h4>
{{end}}
</body>
</html>