<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footballers</title>
</head>
<body>
 {{.}}
{{/* you could use it to call a function or pass data into a function*/}}
{{. | square }}
{{. | square | squareRoot }}
{{. | square | squareRoot | triple }}

</body>
</html>