<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Passing data into Templates</title>
</head>
<body>
{{$number := .}}
<h1>The Best Number is: {{$number}} </h1>
<h3>Cristiano Ronaldo's Number is: {{$number}} </h3>
</body>
</html>